<h1 class="text-center">密码管理</h1>

<div class="row">
    <div class="col-md-12">
        <a href="addaccount" class="btn btn-primary">添加账号</a>
    </div>
</div>
<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <td>ID</td>
            <td>类别</td>
            <td>所属应用</td>
            <td>账号</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody>
    {{#each lists}}
        <tr class="pass-item{{id}}">
            <td>{{id}}</td>
            <td>{{typeName}}</td>
            <td>{{appName}}</td>
            <td>{{userName}}</td>
            <td>
                <a href="addpass?accountId={{id}}" class="btn btn-primary btn-addpass">添加密码</a>
                <a onclick="return confirm('确认删除')" href="delaccount?id={{id}}" class="btn btn-default btn-addpass">删除账户</a>
                <button data-id="{{id}}" class="btn btn-checkpass btn-init-{{id}} btn-success">查看密码</button>
                <button data-id="{{id}}" class="btn btn-checkpass1 btn-success">收起密码</button>
            </td>
        </tr>
        <tr class="pass-detail{{id}} pass-detail">
            <td colspan="5">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>名称</th>
                        <th>上次更新时间</th>
                        <th>密码</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody class="pass-detail-item{{id}}">
                    <tr>
                        <td>101</td>
                        <td>登录密码</td>
                        <td><label class="label label-danger">123456</label></td>
                        <td>无</td>
                        <td>
                            <button class="btn btn-warning">更新密码</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

<script>
$(function() {
    $('.btn-checkpass').click(function() {
        let id = $(this).data('id');
        addCls(`.btn-init-${id}`);
        $(this).hide().siblings('.btn-checkpass1').show();
        $.get('/users/getAllPasswords', {accountId: id}, function({status, message, list}) {
          if(status == 1) {
            renderDetail(id, list)
          }else {
            alert(message)
          }
        }, 'json');
    });
    $('.btn-checkpass1').click(function() {
        let id = $(this).data('id');
        $(this).hide().siblings('.btn-checkpass').show();
        removeCls(`.btn-init-${id}`)
        showDetail(id, false);
    });

    function renderDetail(id, list) {
      let html = list.map(({id, accountId, passName, password, passMemo, modifyDate}) => `
        <tr>
            <td>${id}</td>
            <td>${passName}</td>
            <td>${modifyDate}</td>
            <td><label class="label label-danger">${password}</label></td>
            <td>${passMemo}</td>
            <td>
                <button data-id="${id}" class="btn btn-warning">更新密码</button>
                <a onclick="return confirm('确认删除')" href="delpass?id=${id}" class="btn btn-danger">删除密码</a>
            </td>
        </tr>
      `).join('');
      $('.pass-detail-item'+id).html(html);
      showDetail(id, true);
    }

    function showDetail(id, visible) {
      if(visible) {
        $(`.pass-detail${id}`).show();
      }else {
          $(`.pass-detail${id}`).hide();
      }
    }

    let myPrivateClsKey = 'password-guardian-store';
    function getAllCls() {
        let value = localStorage.getItem(myPrivateClsKey);
        return value ? String(value).split(',') : [];
    }

    function addCls(cls) {
        let arr = getAllCls(),
                finalStr = '';
        arr.push(cls);
        finalStr = arr.join(',');
        localStorage.setItem(myPrivateClsKey, finalStr);
    }
    function removeCls(cls) {
        let arr = getAllCls(),
            finalStr = arr.join(',')
        ;
        finalStr = finalStr.replace(new RegExp(`${cls},?`, 'g'), '');
        localStorage.setItem(myPrivateClsKey, finalStr);
    }
    $(getAllCls().join(',')).trigger('click');
});


</script>

<style>
    .btn-checkpass1 {
        display: none;
    }
    .pass-detail {
        display: none;
    }
</style>